<html>
   <head>
      <title>HIVI SASA HTML</title>
      <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <style>
         .login-form {
         width: 25rem;
         height: 18.75rem;
         position: fixed;
         top: 50%;
         margin-top: -9.375rem;
         left: 50%;
         margin-left: -12.5rem;
         background-color: #ffffff;
         opacity: 0;
         -webkit-transform: scale(.8);
         transform: scale(.8);
         }
         /*basic reset*/
         * {margin: 0; padding: 0;}
         /*adding a black bg to the body to make things clearer*/
         body {background: black;}
         canvas {display: block;}
      </style>
      <script>
         $(function(){
             var form = $(".login-form");
         
             form.css({
                 opacity: 1,
                 "-webkit-transform": "scale(1)",
                 "transform": "scale(1)",
                 "-webkit-transition": ".5s",
                 "transition": ".5s"
             });
         });
         
         function invalidForm(){
             var form  = $(this);
             form.addClass("ani-ring");
             setTimeout(function(){
                 form.removeClass("ani-ring");
             }, 1000);
         }
         function validateForm(){
             $(".login-form").animate({
                 opacity: 0
             });
         }
         
         
         $(document).ready(function() {
         
         var c = document.getElementById("c");
         var ctx = c.getContext("2d");
         
         //making the canvas full screen
         c.height = window.innerHeight;
         c.width = window.innerWidth;
         
         //chinese characters - taken from the unicode charset
         var chinese = "田由甲申甴电甶男甸甹町画甼甽甾甿畀畁畂畃畄畅畆畇畈畉畊畋界畍畎畏畐畑";
         //converting the string into an array of single characters
         chinese = chinese.split("");
         
         var font_size = 10;
         var columns = c.width/font_size; //number of columns for the rain
         //an array of drops - one per column
         var drops = [];
         //x below is the x coordinate
         //1 = y co-ordinate of the drop(same for every drop initially)
         for(var x = 0; x < columns; x++)
             drops[x] = 1;
         
         //drawing the characters
         function draw()
         {
             //Black BG for the canvas
             //translucent BG to show trail
             ctx.fillStyle = "rgba(0, 0, 0, 0.05)";
             ctx.fillRect(0, 0, c.width, c.height);
         
             ctx.fillStyle = "#0F0"; //green text
             ctx.font = font_size + "px arial";
             //looping over drops
             for(var i = 0; i < drops.length; i++)
             {
                 //a random chinese character to print
                 var text = chinese[Math.floor(Math.random()*chinese.length)];
                 //x = i*font_size, y = value of drops[i]*font_size
                 ctx.fillText(text, i*font_size, drops[i]*font_size);
         
                 //sending the drop back to the top randomly after it has crossed the screen
                 //adding a randomness to the reset to make the drops scattered on the Y axis
                 if(drops[i]*font_size > c.height && Math.random() > 0.975)
                     drops[i] = 0;
         
                 //incrementing Y coordinate
                 drops[i]++;
             }
         }
         
             setInterval(draw, 33);
         });
      </script>
   </head>
   <body>
      <div class="login-form padding20 block-shadow">
         <form action="/login_check" method="post" class="bg-white p-6 mx-auto border bd-default win-shadow"
            data-role="validator"
            action="javascript:"
            data-clear-invalid="2000"
            data-on-error-form="invalidForm"
            data-on-validate-form="validateForm">
            <span class="mif-vpn-lock mif-4x place-right" style="margin-top: -10px;"></span>
            <h2 class="text-light">Login to hivisasa</h2>
            <hr class="thin mt-4 mb-4 bg-white">
            <div class="form-group">
               <input name = "email" type="text" data-role="input" data-prepend="<span class='mif-envelop'>" placeholder="Enter your email..." data-validate="required email">
            </div>
            <div class="form-group">
               <input name = "password" type="password" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Enter your password..." data-validate="required minlength=6">
            </div>
            <div class="form-group mt-10">
               <input type="checkbox" data-role="checkbox" data-caption="Remember me" class="place-right">
               <button class="button">Submit form</button>
            </div>
            <p><%= message %></p>
         </form>
      </div>
   </body>
   <canvas id="c"></canvas>
</html>